// colors
$white                  : #FFFFFF;
$black                  : #000000;
$bg-color               : #FFDF8C;

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-sm-min          : 768px;