// colors
$white                  : #FFFFFF;
$black                  : #000000;
$gray                   : #808080;
$brand-black            : #282828;
$brand-gray             : #F3F3F3;
$bg-color               : #FFDF8C;
$border-color           : #F7F7F7;
$main-color             : #FE5F1E;
$grey-color             : #7B7B7B;
$category-bg            : #F9F9F9;

$cart-hover-color       : #da5a28;

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-sm-min          : 768px;