.product {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        margin: 11px 0 22px;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.01em;
        text-align: center;
    }

    &-options {
        padding: 7px;
        margin-bottom: 17px;
        border-radius: 10px;
        background: $brand-gray;

        ul {
            display: flex;
            margin-bottom: 7px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                width: 100%;
                margin-right: 6px;
                padding: 11px 17px;
                transition: background-color $fast;
                cursor: pointer;

                &.active {
                    background-color: $white;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                    cursor: auto;

                    @include hover {
                        background-color: $white;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                @include hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                }
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-price {
        font-size: 22px;
        letter-spacing: 0.015em;
    }
}